{% extends "form.html" %}

{% block title %}Debian GitLab team registration{% endblock %}

{% block form_title %}Register a new team{% endblock %}
{% block form_submit %}Register team{% endblock %}

{% block form_leader %}
Create your GitLab teams here.
Please note that the name for team groups must start with one of the available prefixes:
<ul>
	<li><span class="group-prefix-name">pkg-</span> For group maintenance of related Debian packages.</li>
	<li><span class="group-prefix-name">l10n-</span> For localisation efforts.</li>
	<li><span class="group-prefix-name">debian-</span> For Debian infrastructure and admin-related teams; only available on request (file a ticket).</li>
</ul>
</p><p>
Once your team group is created, you can create subgroups directly from the GitLab
interface.
{% endblock %}

